* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 15vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meiuca {
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.nav {
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.article {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

.aside {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

.footer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
}